
.timeline-in {
	position: absolute;
	padding-top:70px;
	right:0px;
  width:10px;
  height: 100%;
  background-color: #ccc;
  z-index:100;
  margin-top:-50px;
}
.timeline-out {
	position: absolute;
	padding-top:70px;
	right:0px;
  width:200px;
  height: 100%;
  background-color: #ccc;
  z-index:100;
  margin-top:-50px;
}

#temp {
	position: absolute;
	padding-top:70px;
	left:0px;
  width:100px;
  height:100%;
  background-color: #ccc;
  z-index:100;
}

#content{
	position: absolute;
	padding-top:70px;
  width:300px;
  height: 400px;
  background-color: #ddd;
  z-index:100;
 	left:22%;
 	top:30%;
 	
}

#reply{
	position: absolute;
	padding-top:70px;
  width:280px;
  height: 200px;
  background-color: #ddd;
  z-index:100;
 	left:22%;
 	top:30%;
}

#mypage{
	position: absolute;
	padding-top:70px;
	left:15%;
	top:15%;
  width:550px;
  height: 600px;
  background-color: #ddd;
  z-index:100;
}

#userpage{
	position: absolute;
	padding-top:70px;
	left:15%;
	top:15%;
  width:550px;
  height: 600px;
  background-color: #ddd;
  z-index:100;
}

#treelist{
	position: absolute;
	padding-top:70px;
	left:0px;
  width:200px;
  height: 300px;
  background-color: #ddd;
  z-index:100;
}

#friendlist{
	position: absolute;
	padding-top:70px;
	right:0px;
  width:200px;
  height: 400px;
  background-color: #ddd;
  z-index:100;
  margin-top:-50px;
}