
.timeline-in {
	position: absolute;
	padding-top:70px;
	right:0px;
  width:10px;
  height: 100%;
  background-color: #ccc;
  z-index:100;
  margin-top:-50px;
}
.timeline-out {
	position: absolute;
	padding-top:70px;
	right:0px;
  width:200px;
  height: 100%;
  background-color: #ccc;
  z-index:100;
  margin-top:-50px;
}
