<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-config.dtd">

<mapper namespace="UserMapper">

<!-- 
	<resultMap type="user" id="userMap">
		<result property="userNo" column="USER_NO" jdbcType="INTEGER"></result>
		<result property="email" column="EMAIL" jdbcType="VARCHAR"></result>
		<result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
		<result property="name" column="NAME" jdbcType="VARCHAR"/>
		<result property="phone" column="PHONE" jdbcType="VARCHAR"/>
		<result property="photo" column="PHOTO" jdbcType="VARCHAR"/>
		<result property="snsUser" column="SNSUSER" jdbcType="VARCHAR"/>
	
	</resultMap>


<select id="findUser" parameterType="string" resultMap="userMap">
		SELECT * from USERS 
		<where>
			user_id =#{value}
		</where>
	</select>

	<select id="getUser" parameterType="string" resultMap="userMap">
		SELECT user_no, email, password, name, phone, photo, snsuser 
		FROM users
		<where>
			user_id = #{value}
		</where>

	</select>


	<insert id="addUser" parameterType="user" resultType="int">
		INSERT INTO USERS {
			user_no,
			email,
			password,
			name,
			phone,
			photo
		}
		VALUES {
			#{userNo},
			#{email},
			#{password},
			#{name},
			#{phone},
			#{photo}

		}
	</insert>

	<insert id="addUser2" parameterType="user" resultType="int">
		INSERT INTO USERS {
			user_no,
			email,
			password,
			name,
			phone,
			photo,
			snsuser
		}
		VALUES {
			#{userNo},
			#{email},
			#{password},
			#{name},
			#{phone},
			#{photo},
			#{snsUser}

		}
	</insert>


	





	<update id="updateUser" parameterType="user" resultMap="user">
		UPDATE USERS
		<set>
			EMAIL = #{user.email:VARCHAR},
			<if test="#{user.password}!=null">PASSWORD=#{password}
		</set> 


	</update>



 -->


</mapper>